@media screen {
    body {
        margin-left: 10%;
        margin-right: 10%
        }
    }
.pagedjs_page_content > div {
    margin-left: 10%;
    margin-right: 10%
    }
h1, h2, h3, h4 {
    text-align: center;
    clear: both
    }
p {
    margin-top: 0.51em;
    text-align: justify;
    margin-bottom: 0.49em
    }
.p1 {
    margin-top: 1em
    }
.p2 {
    margin-top: 2em
    }
.p3 {
    margin-top: 3em
    }
.pmb1 {
    margin-bottom: 1em
    }
.pmb2 {
    margin-bottom: 2em
    }
.pmb3 {
    margin-bottom: 3em
    }
hr.tb {
    width: 45%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
hr.chap {
    width: 65%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
hr.tb10 {
    width: 10%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
hr.tb30 {
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
table {
    margin-left: auto;
    margin-right: auto
    }
.tdr {
    text-align: right
    }
.pagenum {
    visibility: hidden;
    font-size: smaller;
    text-align: right
    }
.center {
    text-align: center
    }
.right {
    text-align: right
    }
.font07 {
    font-size: 0.7em
    }
.font08 {
    font-size: 0.8em
    }
.font09 {
    font-size: 0.9em
    }
.font11 {
    font-size: 1.1em
    }
.font13 {
    font-size: 1.3em
    }
.font14 {
    font-size: 1.4em
    }
.font16 {
    font-size: 1.6em
    }
.font18 {
    font-size: 1.8em
    }
.font25 {
    font-size: 2.5em
    }
.gesperrt {
    font-style: oblique
    }
.break {
    page-break-before: always
    }
.figcenter {
    margin: auto;
    text-align: center
    }
.footnotes {
    border: dashed 1px
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.9em
    }
.footnote .label {
    text-align: right
    }
.fnanchor {
    vertical-align: super;
    font-size: 0.8em;
    text-decoration: none
    }
.poem {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left
    }
.poem .stanza {
    margin: 1em 0 1em 0
    }
.poem span.i0 {
    display: block;
    margin-left: 0;
    padding-left: 3em;
    text-indent: -3em
    }
.poem span.i2 {
    display: block;
    margin-left: 1em;
    padding-left: 3em;
    text-indent: -3em
    }
@media handheld {
    body {
        margin-left: 3%;
        margin-right: 3%
        }
    p {
        margin-top: 0.1em;
        text-align: justify;
        margin-bottom: 0.13em
        }
    hr.tb {
        width: 45%;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        margin-left: 27%;
        margin-right: 27%;
        clear: both
        }
    hr.chap {
        width: 75%;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
        margin-left: 12%;
        margin-right: 12%;
        clear: both
        }
    .break {
        page-break-before: always
        }
    .p1 {
        margin-top: 0.2em
        }
    .p2 {
        margin-top: 0.4em
        }
    .p3 {
        margin-top: 0.6em
        }
    .pmb1 {
        margin-bottom: 0.2em
        }
    .pmb2 {
        margin-bottom: 0.4em
        }
    .pmb3 {
        margin-bottom: 0.6em
        }
    .poem span.i0 {
        display: block;
        margin-left: 0;
        padding-left: 1em;
        text-indent: -1em
        }
    .poem span.i2 {
        display: block;
        margin-left: 0.4em;
        padding-left: 1em;
        text-indent: -1em
        }
    }
hr.full {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    border-width: 4px 0 0 0;
    border-style: solid;
    border-color: #000;
    clear: both
    }
